<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codecollab.oj.mapper.MqMessageLogMapper">

    <resultMap id="BaseResultMap" type="com.codecollab.oj.model.MqMessageLog">
            <id property="id" column="id" />
            <result property="content" column="content" />
            <result property="status" column="status" />
            <result property="retryCount" column="retry_count" />
            <result property="nextRetryTime" column="next_retry_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,content,status,retry_count,next_retry_time,update_time
    </sql>
</mapper>
